[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
scikit-learn = "*"
seaborn = "*"
nltk = "*"
pandas-profiling = "*"
spacy = "*"
progressbar = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
