[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
scikit-learn = "*"
seaborn = "*"
nltk = "*"
pandas-profiling = "*"
spacy = "*"
progressbar = "*"
tabulate = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz"}
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz"}
ipycache = {git = "https://github.com/rossant/ipycache"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
