[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
scikit-learn = "*"
seaborn = "*"
nltk = "*"
pandas-profiling = "*"
spacy = "*"
slacker = "*"
torch = {editable = true,version = "==1.2.0+cpu"}
torchvision = "==0.4.0+cpu"

[requires]
python_version = "3.7"
